@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


/* General styles */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: #d0c9c9; 
}

/* Counter styles */

.counter
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.counter-title
{
    margin-bottom: 20px;
    font-size: 60px;
    color: #fff;
}

button
{
    margin: 0 10px;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 10px 40px;
    letter-spacing: 2px;
    transition: all .3s;
    cursor: pointer;
}

button:hover
{
    padding: 10px 50px;
    background: #bda7a7;
    color: #fff;
    transition: all .3s;
}

.container-counter-number
{
    margin-bottom: 40px;
    font-size: 100px;
    color: #542626;
}


@media screen and (max-width: 532px)
{
    button
    {
        padding: 10px 50px;
    }
    #increaseBtn
    {
        display: flex;
        justify-content: center;
        margin: 0 auto  ;
    }
    button:hover 
    {
        padding: 10px 55px;
    }
}

@media screen and (max-width: 387px) {
    button
    {
        padding: 10px 30px;
    }
    #increaseBtn
    {
        display: flex;
        justify-content: center;
        margin: 0 auto  ;
    }
    button:hover 
    {
        padding: 10px 35px;
    }
}